<%= form_with model: [:admin, notebook], local: true, class: "mb-5" do |f| %>
  <div class="row">
    <div class="offset-lg-3 col-lg-6">
      <div class="form-group <%= notebook.errors[:name].present? ? 'has-danger' : '' %>">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control #{notebook.errors[:name].present? ? 'is-invalid' : ''}" %>
        <% if notebook.errors[:name].present? %>
    	    <div class="invalid-feedback">
    	      <%= notebook.errors[:name].join(", ") %>
    	    </div>
        <% end %>
      </div>
    
      <%= link_to I18n.t('text.cancel'), admin_notebooks_path, class: "btn btn-link text-danger" %>
      <%= f.submit class: "btn btn-primary float-right" %>
    </div>
  </div>
<% end %>