<%= search_form_for [:admin, @q] do |f| %>
	<div data-controller="payments">
    <p>
      <%= f.label :action_text_rich_text_body_cont, I18n.t("text.filter.action_text_rich_text_body_cont") %>
      <%= f.text_field :action_text_rich_text_body_cont, value: params[:q].try(:[], :action_text_rich_text_body_cont) %>
    </p>

    <p>
      <%= f.label :created_at_gteq, "從" %>
      <%= f.date_field :created_at_gteq, value: params[:q].try(:[], :created_at_gteq), max: params[:q].try(:[], :created_at_lteq) || (Time.zone.today - 1.day).strftime("%F"), data: {target: "payments.minDate"} %>
    </p>

    <p>
      <%= f.label :created_at_lteq, "到" %>
      <%= f.date_field :created_at_lteq, value: params[:q].try(:[], :created_at_lteq), min: params[:q].try(:[], :created_at_gteq), max: Time.zone.today.strftime("%F"), data: {target: "payments.maxDate"} %>
    </p>

    <p>
      <select data-action="change->payments#setDateFilter">
        <option>選擇天數</option>
        <% [7, 14, 30, 60, 90, 180].each do |number| %>
          <option value="<%= number.days.ago.strftime('%Y-%m-%d') %>"><%= number %></option>
        <% end %>
      </select>
    </p>

    <p data-toggle="buttons" style="display: flex;">
      <% Notebook.all.pluck(:name, :id).map do |name, id| %>
        <label style="padding-left: 0.5em;">
          <%= radio_button_tag 'q[notebook_id_eq]', id, id.to_s == params[:q].try(:[], :notebook_id_eq) %> <%= name %>
        </label>
      <% end %>
    </p>

    <p data-toggle="buttons" style="display: flex;">
      <% Project.all.pluck(:name, :id).map do |name, id| %>
        <label style="padding-left: 0.5em;">
          <%= radio_button_tag 'q[project_id_eq]', id, id.to_s == params[:q].try(:[], :project_id_eq) %> <%= name %>
        </label>
      <% end %>
    </p>

    <p data-toggle="buttons" style="display: flex;">
      <% User.all.pluck(:name, :id).map do |name, id| %>
        <label style="padding-left: 0.5em;">
          <%= radio_button_tag 'q[recorder_id_eq]', id, id.to_s == params[:q].try(:[], :recorder_id_eq) %> <%= name %>
        </label>
      <% end %>
    </p>
  </div>

  <%= link_to I18n.t("text.clear"), admin_payments_path %>
<% end %>