<%= turbo_frame_tag "payments" do %>
  <%= link_to admin_payments_path(anchor: "payment-#{@payment.id}"), class: "btn btn-link" do %>
    &#8592; <%= I18n.t('text.back') %>
  <% end %>
  <h1 class="h2"><%= I18n.t('text.edit') %><%= Payment.model_name.human %></h1>
  <%= render "admin/payments/form", payment: @payment %>
<% end %>