<%= turbo_frame_tag "payments" do %>
    <main>
        <%= paginate @payments, window: 2 %>

        <%= render @payments %>

        <footer style="display: flex; justify-content: flex-end;">
            <%= link_to new_admin_payment_path do %>
                新增帳款
            <% end %>
        </footer>
    </main>
<% end %>

<section>
    <% if params[:q].present? %>
        <table class="mt-3 table table-sm table-responsive-sm" style="width: auto;">
            <thead>
                <tr>
                    <th>吃</th>
                    <th>非吃</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= @q.result.outcome.where(project_id: 1).sum(:total).to_i %></td>
                    <td><%= @q.result.outcome.where.not(project_id: 1).sum(:total).to_i %></td>
                </tr>
            </tbody>
        </table>
    <% else %>
        <ul>
            <li>今日吃
                <%= link_to admin_payments_path(q: { notebook_id_eq: 1, project_id_eq: 1, created_at_gteq: Time.zone.today.beginning_of_day }) do %>    
                    <%= Payment.outcome.today.where(project_id: 1).sum(:total).to_i %>
            <% end %></li>

            <li>非吃
                <%= link_to admin_payments_path(q: { notebook_id_eq: 1, project_id_not_eq: 1, created_at_gteq: Time.zone.today.beginning_of_day }) do %>
                    <%= Payment.outcome.today.where.not(project_id: 1).sum(:total).to_i %>
                <% end %></li>

            <li>日均吃
                <%= link_to admin_payments_path(q: { notebook_id_eq: 1, project_id_eq: 1 }) do %>
                    <%= Payment.daily_outcome_avg(1) %>
                <% end %></li>
        </ul>
    <% end %>
</section>

<%= render "filter" %>

<footer style="margin-bottom: 1em; padding: 1em 0;">
    本月總花費 <strong><%= Payment.where("created_at >= ?", Time.zone.today.at_beginning_of_month).outcome.sum(:total).to_i %></strong>
    <%= link_to "統計", summary_admin_payments_path, style: "margin-left: 20px;" %>
</footer>