<%= link_to admin_projects_path(anchor: "project-#{@project.id}"), class: "btn btn-link" do %>
  &#8592; <%= I18n.t('text.back') %>
<% end %>
<h1 class="h2"><%= I18n.t('text.edit') %><%= Project.model_name.human %></h1>
<%= render "admin/projects/form", project: @project %>