<%= link_to admin_periodic_payments_path, class: "btn btn-link" do %>
  &#8592; <%= I18n.t('text.back') %>
<% end %>
<h1 class="h2"><%= I18n.t('text.new') %><%= PeriodicPayment.model_name.human %></h1>
<%= render "admin/periodic_payments/form", periodic_payment: @periodic_payment %>