<!DOCTYPE html>
<html>
    <head>
        <link rel='manifest' href='/manifest.json'>
        <!-- icon in the highest resolution we need it for -->
        <link rel="icon" sizes="192x192" href="<%= asset_path('logo.jpg') %>">
        <!-- reuse same icon for Safari -->
        <link rel="apple-touch-icon" href="<%= asset_path('logo.jpg') %>">
        <title><%= meta_title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%= csrf_meta_tags %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <%= javascript_include_tag 'admin', 'data-turbo-track': 'reload' %>
        <!-- <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css"> -->
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
        <script>
            document.addEventListener("turbo:before-cache", function() {
              $("#navbarSupportedContent").collapse('hide')
            })
        </script>
        <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbo-track': 'reload' %>
        <% if @no_turbo_cache %>
            <meta name="turbo-cache-control" content="no-cache">
        <% end %>
    </head>
    <body class='admin <%= "#{controller_name}-controller" %> <%= "#{action_name}-action" %>'>
        <%= render "admin/common/nav_top" if user_signed_in? %>
        <%= yield %>
    </body>
</html>